{% extends 'main_dash.html' %}
{% load static %}
{% block content %}
            <main class="content px-3 py-4">
                <div class="container-fluid">
                    <div class="mb-3">
                        <h3 class="fw-bold fs-5 mb-3" style="color: green;">Event Dashboard</h3>
                        <h3 class="fw-bold fs-3 mb-3">SERENGETI TOUR</h3>
                        <div class="row">
                            <div class="col-12 col-md-4 ">
                                <div class="card border-0">
                                    <div class="card-body py-4">
                                        <h5 class="mb-2 fw-bold">
                                            Total Single cards
                                        </h5>
                                        <h2 class="mb-2 fw-bold" style="color: green;">
                                            25
                                        </h2>
                            
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 ">
                                <div class="card border-0">
                                    <div class="card-body py-4">
                                        <h5 class="mb-2 fw-bold">
                                            Total Double Cards
                                        </h5>
                                        <h2 class="mb-2 fw-bold" style="color: green;">
                                            250
                                        </h2>
                                   
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 ">
                                <div class="card border-0">
                                    <div class="card-body py-4">
                                        <h5 class="mb-2 fw-bold">
                                            Total Invited Guests
                                        </h5>
                                        <h2 class="mb-2 fw-bold" style="color: green;">
                                            275
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br><br>
                        <p class="fw-bold fs-4 mb-3">Scanned Card</p>
                        <div class="row">
                            <div class="col-12 col-md-4 ">
                                <div class="card border-0">
                                    <div class="card-body py-4">
                                        <h5 class="mb-2 fw-bold">
                                            Scanned Single cards
                                        </h5>
                                        <h2 class="mb-2 fw-bold" style="color: green;">
                                            12
                                        </h2>
                                   
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 ">
                                <div class="card border-0">
                                    <div class="card-body py-4">
                                        <h5 class="mb-2 fw-bold">
                                            Scanned double cards
                                        </h5>
                                        <h2 class="mb-2 fw-bold" style="color: green;">
                                            123
                                        </h2>
                                   
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 ">
                                <div class="card border-0">
                                    <div class="card-body py-4">
                                        <h5 class="mb-2 fw-bold">
                                            Total card scaaned
                                        </h5>
                                        <h2 class="mb-2 fw-bold" style="color: green;">
                                            135
                                        </h2>
                                   
                                    </div>
                                </div>
                            </div>
 
                        </div>
                        
                    </div>
                </div>
            </main>
            
        
  
    {% endblock %}