{% extends 'main_dash.html' %}
{% load static %}
{% block content %}
            <main class="content px-3 py-4">
                <div class="container-fluid">
                    <div class="mb-3">
                        <h3 class="fw-bold fs-5 mb-3" style="color: green;">Event Details Dashboard</h3>
                        <p class="fw-bold fs-3 mb-3">
                            No event registered: <a href="{% url 'register_event' %}"> <button type="button" class="btn btn-outline-success"><i class="fas fa-calendar-plus"></i> Register event</button></a>
                        </p>
                        <div class="row">
                            <div class="col-12 col-md-4 ">
                                <div class="card border-0">
                                    <div class="card-body py-4">
                                        <h5 class="mb-2 fw-bold">
                                            Total Cards
                                        </h5>
                                        <h2 class="mb-2 fw-bold" style="color: green;">
                                            {{ total_cards }}
                                        </h2>
                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 ">
                                <div class="card border-0">
                                    <div class="card-body py-4">
                                        <h5 class="mb-2 fw-bold">
                                            Scanned (Single)
                                        </h5>
                                        <h2 class="mb-2 fw-bold" style="color: green;">
                                            {{ scanned_single }}
                                        </h2>
                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 ">
                                <div class="card border-0">
                                    <div class="card-body py-4">
                                        <h5 class="mb-2 fw-bold">
                                            Scanned (Double):
                                        </h5>
                                        <h2 class="mb-2 fw-bold" style="color: green;">
                                            {{ scanned_double }}
                                        </h2>
                              
                                    </div>
                                </div>
                            </div>
                           
                        </div>

                        <hr style="color: rgb(24, 24, 49);">
                        <div class="row">
                            <div class="col-12 col-md-4 ">
                            <div class="card border-0">
                                <div class="card-body py-4">
                                    <h5 class="mb-2 fw-bold">
                                        Remaining
                                    </h5>
                                    <h2 class="mb-2 fw-bold" style="color: green;">
                                        {{ remaining }}
                                    </h2>
                          
                                </div>
                            </div>
                        </div>
                    </div>
                        
<br>
                        <a href="{% url 'scan' %}" class="btn btn-success">Scan Cards</a>
                   
                    </div>
                </div>
            </main>
            
        
            
            
                
             
                
                
            
  
    {% endblock %}