
{% extends 'main_dash.html' %}

{% load static %}
{% block content %}


<h3 class="fw-bold fs-4 my-3" style="padding-left: 1rem;">Inveted guests list
    <br>
    <hr>
   <a href="{% url 'upload' %}"> <button type="button" class="btn btn-outline-success"><i class="fas fa-file-excel"></i>    upload excel</button></a>
   <a href="{% url 'add_guest' %}"> <button type="button" class="btn btn-primary"><i class="fas fa-plus"></i>   Add guest</button></a>
</h3>

<div class="row" style="padding-left: 1rem; padding-right: 1rem;">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr class="highlight">
                    <th scope="col">S/N</th>
                    <th scope="col">NAME</th>
                    <th scope="col">CARD TYPE</th>
                    <th scope="col">ACTION</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Ezekiel Mbilinyi</td>
                    <td style="color: purple;">Double</td>
                    <td><button type="button" class="btn btn-primary">CHECK IN</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Amos Mkende</td>
                    <td style="color: green;">Single</td>
                    <td><button type="button" class="btn btn-success">ARRIVED</button></td>
            
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}