<!DOCTYPE html>
{% load static %}
<html lang="en" data-theme="light">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ts-Card</title>

	<!-- Reset -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'styles/main_home.css' %}">
  

</head>
<body>
{% include 'nav_home.html' %}

	<div id="menu-container">
		<ul class="unstyled">
			<li><a href="{% url 'home' %}">Home</a></li>
			<li><a href="{% url 'home' %}">About</a></li>
			<li><a href="{% url 'home' %}">Contact</a></li>
			<li><a href="{% url 'login' %}">Login</a></li>
		</ul>
	</div>

  {% block content %}
  {% endblock %}

	

	<script>
		const menuButton = document.querySelector('#menu-button')
		const rootElement = document.documentElement

		menuButton.addEventListener('click', () => {
			rootElement.toggleAttribute('menu-open')
		})

		// Air
	</script>
</body>
</html>